# Web + API + parsers (Python 3.9+)
fastapi>=0.110.0
uvicorn[standard]>=0.27.0
pydantic>=2.0.0
Django>=4.2,<5.0
psycopg2-binary>=2.9.9
requests>=2.31.0
beautifulsoup4>=4.12.0
lxml>=5.0.0
python-dotenv>=1.0.0

# RelevanceDetection
pandas>3.0.0
natasha==1.6.0            
rapidfuzz==3.14.6         
scikit-learn==1.8.0       
pymorphy3==2.0.6          
pymorphy3-dicts-ru==2.4.417150.4580142